In [3]:
print('jaisairam')

jaisairam

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("Crop Predictionss.csv")

In [6]:
df.head()

,Crop_Year,Crop,Temperature,Humidity,Soil_Moisture,Area,Production
0,2000,Bajra,37,40,46,2477,1449.0
1,2000,Castor seed,36,41,50,9315,2831.0
2,2000,Cotton,37,42,55,12025,16128.0
3,2000,Dry chillies,36,40,54,3755,10146.0
4,2000,Gram,34,45,52,21,14.0

In [7]:
df.tail()

,Crop_Year,Crop,Temperature,Humidity,Soil_Moisture,Area,Production
25552,2006,Small millets,36,35,45,27,7.0
25553,2006,Soyabean,37,40,46,27,32.0
25554,2006,Sunflower,36,41,50,450,213.0
25555,2006,Urad,37,42,55,1778,309.0
25556,2006,Gram,36,40,54,216,194.0

In [8]:
df.isnull().sum()

Crop_Year        0
Crop             0
Temperature      0
Humidity         0
Soil_Moisture    0
Area             0
Production       0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25557 entries, 0 to 25556
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Crop_Year      25557 non-null  int64
 1   Crop           25557 non-null  object
 2   Temperature    25557 non-null  int64
 3   Humidity       25557 non-null  int64
 4   Soil_Moisture  25557 non-null  int64
 5   Area           25557 non-null  int64
 6   Production     25557 non-null  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.4+ MB

In [10]:
df.Crop.isnull().sum()

0

In [11]:
df['Crop_Year'].value_counts()

Crop_Year
2013    2175
2012    2093
2014    2064
2011    1950
2003    1709
2002    1706
2010    1653
2008    1651
2009    1641
2006    1585
2005    1566
2001    1505
2000    1426
2007    1419
2004    1414
Name: count, dtype: int64

In [12]:
Crop_dict = {
    'Arecanut': 1,
    'Bajra': 2,
    'Banana': 3,
    'Bhindi': 4,
    'Black pepper': 5,
    'Brinjal': 6,
    'Cabbage': 7,
    'Cashewnut': 8,
    'Castor seed': 9,
    'Citrus Fruit': 10,
    'Coconut': 11,
    'Coriander': 12,
    'Cotton': 13,
    'Cowpea': 14,
    'Dry chillies': 15,
    'Dry ginger': 16,
    'Garlic': 17,
    'Ginger': 18,
    'Gram': 19,
    'Grapes': 20,
    'Groundnut': 21,
    'Horsegram': 22,
    'Jowar': 23,
    'Jute': 24,
    'Khesari': 25,
    'Korra': 26,
    'Lemon': 27,
    'Linseed': 28,
    'Maize': 29,
    'Mango': 30,
    'Masoor': 31,
    'Mesta': 32,
    'Moong': 33,
    'Niger seed': 34,
    'Onion': 35,
    'Orange': 36,
    'Paddy': 37,
    'Papaya': 38,
    'Peas beans': 39,
    'Pineapple': 40,
    'Pome Fruit': 41,
    'Pome Granet': 42,
    'Potato': 43,
    'Urad': 44,
    'Varagu': 45,
    'Wheat': 46,
    'Turmeric': 47,
    'Tapioca': 48,
    'Tobacco': 49,
    'Sugarcane': 50,
    'Soyabean': 51,
    'Sunflower': 52,
    'Small millets': 53,
    'Sweet potato': 54,
    'Sapota': 55,
    'Sesamum': 56,
    'Sannhamp': 57,
    'Safflower': 58,
    'Samai': 59,
    'Rice': 60,
    'Ragi': 61,
    'Rapeseed Mustard': 62,
    'Pulses total': 63,
    'Guar seed': 64
}

df['Crop_num']=df['Crop'].map(Crop_dict)

In [13]:
df.head(20)

,Crop_Year,Crop,Temperature,Humidity,Soil_Moisture,Area,Production,Crop_num
0,2000,Bajra,37,40,46,2477,1449.0,2.0
1,2000,Castor seed,36,41,50,9315,2831.0,9.0
2,2000,Cotton,37,42,55,12025,16128.0,13.0
3,2000,Dry chillies,36,40,54,3755,10146.0,15.0
4,2000,Gram,34,45,52,21,14.0,19.0
5,2000,Groundnut,34,55,62,791559,884963.0,21.0
6,2000,Horsegram,35,50,59,601,215.0,22.0
7,2000,Jowar,25,55,55,5071,14351.0,23.0
8,2000,Korra,36,35,45,1626,1143.0,26.0
9,2000,Maize,37,40,46,3475,9049.0,29.0
10,2000,Moong,36,41,50,1744,774.0,33.0
11,2000,Onion,37,42,55,1103,15470.0,35.0
12,2000,Ragi,34,55,62,6613,16923.0,61.0
13,2000,Rice,35,50,59,39905,117680.0,60.0
14,2000,Samai,25,55,55,21,5.0,59.0
15,2000,Sesamum,36,35,45,5,1.0,56.0
16,2000,Small millets,37,40,46,1647,1148.0,53.0
17,2000,Sunflower,36,41,50,30606,24590.0,52.0
18,2000,Urad,37,42,55,135,8.0,44.0
19,2000,Bajra,34,45,52,317,185.0,2.0

In [14]:
df['Crop_num'].value_counts()

Crop_num
60.0    1894
29.0    1090
15.0    1087
33.0     955
44.0     939
        ...
10.0      24
42.0      21
20.0      17
45.0       9
64.0       1
Name: count, Length: 63, dtype: int64

In [15]:
df.Crop_num.isnull().sum()

694

In [16]:
mean_value = df['Crop_num'].mean()
df['Crop_num'].fillna(mean_value, inplace=True)

In [17]:
df.Crop_num.isnull().sum()

0

In [18]:
df.drop(columns=['Crop'], inplace=True)

In [19]:
df.head()

,Crop_Year,Temperature,Humidity,Soil_Moisture,Area,Production,Crop_num
0,2000,37,40,46,2477,1449.0,2.0
1,2000,36,41,50,9315,2831.0,9.0
2,2000,37,42,55,12025,16128.0,13.0
3,2000,36,40,54,3755,10146.0,15.0
4,2000,34,45,52,21,14.0,19.0

In [20]:
df.tail()

,Crop_Year,Temperature,Humidity,Soil_Moisture,Area,Production,Crop_num
25552,2006,36,35,45,27,7.0,53.0
25553,2006,37,40,46,27,32.0,51.0
25554,2006,36,41,50,450,213.0,52.0
25555,2006,37,42,55,1778,309.0,44.0
25556,2006,36,40,54,216,194.0,19.0

In [21]:
X=df.drop("Production",axis=1)
y=df["Production"]

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25557 entries, 0 to 25556
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Crop_Year      25557 non-null  int64
 1   Temperature    25557 non-null  int64
 2   Humidity       25557 non-null  int64
 3   Soil_Moisture  25557 non-null  int64
 4   Area           25557 non-null  int64
 5   Crop_num       25557 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 1.2 MB

In [23]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 25557 entries, 0 to 25556
Series name: Production
Non-Null Count  Dtype
--------------  -----
25557 non-null  float64
dtypes: float64(1)
memory usage: 199.8 KB

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state =42)

In [26]:
X_train.shape

(17889, 6)

In [27]:
y_train.shape

(17889,)

In [28]:
X_test.isnull().sum()

Crop_Year        0
Temperature      0
Humidity         0
Soil_Moisture    0
Area             0
Crop_num         0
dtype: int64

In [29]:
y_test.isnull().sum()

0

In [30]:
X_train

       Crop_Year  Temperature  Humidity  Soil_Moisture   Area  Crop_num
19605       2011           37        42             55   2741      44.0
12107       2008           34        55             62  11690      62.0
361         2009           25        55             55   2420      61.0
8639        2011           35        50             59    475      46.0
11807       2013           37        42             55   7791      62.0
...          ...          ...       ...            ...    ...       ...
21575       2013           25        55             55     64      56.0
5390        2010           37        42             55   1278       3.0
860         2004           25        55             55  23819      21.0
15795       2007           34        45             52   3260      44.0
23654       2012           25        55             55    328      34.0

[17889 rows x 6 columns]

In [28]:
y_train

19605     1733.0
12107     6301.0
361       3780.0
8639       867.0
11807     3893.0
          ...
21575       36.0
5390     32579.0
860      60381.0
15795     1178.0
23654       90.0
Name: Production, Length: 17889, dtype: float64

In [29]:
X_test

       Crop_Year  Temperature  Humidity  Soil_Moisture   Area   Crop_num
1087        2010           34        55             62     47  47.000000
13624       2011           25        55             55     96  50.000000
22950       2012           37        42             55  86689  19.000000
24559       2011           34        45             52  19589  25.000000
21649       2005           36        40             54    826  39.000000
...          ...          ...       ...            ...    ...        ...
25057       2010           37        42             55   1825  44.000000
21287       2004           34        45             52     20  24.000000
1670        2009           35        50             59    501  35.000000
5427        2011           35        50             59    769  35.676668
8602        2007           36        41             50     92  53.000000

[7668 rows x 6 columns]

In [ ]:
y_test

In [60]:
print(len(X_train), len(y_train))

17889 17889

In [32]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# Fit the scaler to the training data and transform it
X_train_scaled = scaler.fit_transform(X_train)

# Transform the test data using the fitted scaler
X_test_scaled = scaler.transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

# Define the parameter grid
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Initialize the RandomForestRegressor
rf_model = RandomForestRegressor(random_state=42)

# Initialize GridSearchCV
grid_search = GridSearchCV(rf_model, param_grid, cv=5, scoring='neg_mean_squared_error')

# Fit the model to the training data
grid_search.fit(X_train_scaled, y_train)

# Get the best parameters
best_params = grid_search.best_params_
print("Best Parameters:", best_params)

# Get the best estimator
best_model = grid_search.best_estimator_

# Evaluate the best model on the test data
y_pred = best_model.predict(X_test_scaled)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mse)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)

In [2]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [ ]:
from sklearn.metrics import mean_squared_error
y_pred = model.predict(X_test)

# Evaluate the model using Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

In [32]:
from sklearn.tree import DecisionTreeRegressor

# Initialize and train the model
decision_tree = DecisionTreeRegressor()
decision_tree.fit(X_train, y_train)

DecisionTreeRegressor()

In [33]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)

Mean Squared Error (MSE): 243814328801860.7

In [34]:
import joblib

In [35]:
file_name = 'cropmod'

In [36]:
joblib.dump(decision_tree,'cropmod')

['cropmod']

In [45]:
app = joblib.load('cropmod')
arr = [[2024,25,45,42,250,40]]
acc = app.predict(arr)

D:\anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [46]:
acc

array([4643.])